In [3]:
from urllib.request import urlopen as uReq
import urllib.request
from bs4 import BeautifulSoup as soup
import pandas as pd
import numpy as np
import pickle
from datetime import datetime, timedelta, date
import csv
import re
import os

my_url = 'http://www.nasdaq.com/markets/ipos/activity.aspx?tab=pricings'
# uClient = uReq(my_url)
# page_html = uClient.read()
# uClient.close()
# page_soup = soup(page_html, "html.parser")
# containers = page_soup.find_all("div",{"class":"genTable"})

In [2]:
# container = containers[0].get_text().split("\n")
# container1= list(filter(None, container))

# # if container=['\r', '\t\t\t\tThere is no data for this month, please select a prior month.\r', '\t\t\t']:
# #     print("")
# # else:
# container1 = np.array(container1).reshape(-1,7)
# container2= pd.DataFrame(container1)
# df2 = container2.iloc[1:]
# df2 = df2.rename(columns=container2.iloc[0])
# df2.to_csv(ipodata.csv)

In [5]:
#creating backwards time list
datelist = pd.date_range(end=pd.datetime.today(), periods=20, freq='M', normalize=bool)
datelist = datelist.strftime('%Y-%m').tolist()
string1= "&month="
myurls=[]
for x in datelist:
    myurls.append(my_url+string1+str(x))
myurls.append(my_url)
myurls

['http://www.nasdaq.com/markets/ipos/activity.aspx?tab=pricings&month=2016-07',
 'http://www.nasdaq.com/markets/ipos/activity.aspx?tab=pricings&month=2016-08',
 'http://www.nasdaq.com/markets/ipos/activity.aspx?tab=pricings&month=2016-09',
 'http://www.nasdaq.com/markets/ipos/activity.aspx?tab=pricings&month=2016-10',
 'http://www.nasdaq.com/markets/ipos/activity.aspx?tab=pricings&month=2016-11',
 'http://www.nasdaq.com/markets/ipos/activity.aspx?tab=pricings&month=2016-12',
 'http://www.nasdaq.com/markets/ipos/activity.aspx?tab=pricings&month=2017-01',
 'http://www.nasdaq.com/markets/ipos/activity.aspx?tab=pricings&month=2017-02',
 'http://www.nasdaq.com/markets/ipos/activity.aspx?tab=pricings&month=2017-03',
 'http://www.nasdaq.com/markets/ipos/activity.aspx?tab=pricings&month=2017-04',
 'http://www.nasdaq.com/markets/ipos/activity.aspx?tab=pricings&month=2017-05',
 'http://www.nasdaq.com/markets/ipos/activity.aspx?tab=pricings&month=2017-06',
 'http://www.nasdaq.com/markets/ipos/activity.aspx?tab=pricings&month=2017-07',
 'http://www.nasdaq.com/markets/ipos/activity.aspx?tab=pricings&month=2017-08',
 'http://www.nasdaq.com/markets/ipos/activity.aspx?tab=pricings&month=2017-09',
 'http://www.nasdaq.com/markets/ipos/activity.aspx?tab=pricings&month=2017-10',
 'http://www.nasdaq.com/markets/ipos/activity.aspx?tab=pricings&month=2017-11',
 'http://www.nasdaq.com/markets/ipos/activity.aspx?tab=pricings&month=2017-12',
 'http://www.nasdaq.com/markets/ipos/activity.aspx?tab=pricings&month=2018-01',
 'http://www.nasdaq.com/markets/ipos/activity.aspx?tab=pricings&month=2018-02',
 'http://www.nasdaq.com/markets/ipos/activity.aspx?tab=pricings']

In [6]:

# dataset= []
# for eachurl in myurls:
#         uClient1 = uReq(eachurl)
#         page_html1 = uClient1.read()
#         uClient1.close()
#         page_soup1 = soup(page_html1, "html.parser")
#         contain = page_soup1.find_all("div",{"class":"genTable"})
#         contain1 = contain[0].get_text().split("\n")
#         contain2= list(filter(None, contain1))
#         #if statement for months without data
#         if contain1==['\r', '\t\t\t\tThere is no data for this month, please select a prior month.\r', '\t\t\t']:
#             continue
#         else:
#         #reshaping to make it into 7 columns
#             contain3 = np.array(contain2).reshape(-1,7)
#             contain4= pd.DataFrame(contain3)
#             df3 = contain4.iloc[1:]
#             df3 = df3.rename(columns=contain4.iloc[0])
#             dataset.append(df3)

In [7]:

# filename = "scrapeipo.csv"
# f= open(filename, "w")
# f.write(str(dataset))
# headers = "company_name, symbol, market, price, shares, offer_amount, date_priced\n"
# f.write(headers)

# with open('filename', 'w') as myfile:
#     wr = csv.writer(myfile, quoting=csv.QUOTE_ALL)
#     wr.writerow(dataset)

In [8]:
# dataset
# df3
# df4= pd.DataFrame.from_records(dataset, columns=["company_name", "symbol", "market","price", "shares", "offer_amount", "date_priced"])

In [9]:
def make_soup(url):
    thepage=urllib.request.urlopen(url)
    soupdata=soup(thepage,"html.parser")
    return soupdata
playerdatasaved=""
for eachurl in myurls : 
    soup1= make_soup(eachurl)
    for record in soup1.findAll("div",{"class":"genTable"})[:1]:
        if record==['\r', '\t\t\t\tThere is no data for this month, please select a prior month.\r', '\t\t\t']:
            continue
        else:
            playerdata=""
            for data in record.findAll('tr')[1:]:
                playerdata=playerdata+data.text
            playerdatasaved=playerdatasaved+"\n"+playerdata[1:]

In [10]:
playerdatasaved2= playerdatasaved.split("\n")
playerdatasaved3= list(filter(None,playerdatasaved2))
playerdatasaved3= np.asarray(playerdatasaved3)
playerdatasaved3=playerdatasaved3.reshape(-1,7)[1:]
df6= pd.DataFrame(playerdatasaved3, columns=("company_name", "symbol"," market", "price", 'shares', 'offer_amount', 'date_priced'))

In [11]:

# file= open(os.path.expanduser("ipodata3.csv"),"wb")
# file.write(bytes(headers,encoding="ascii",errors="ignore"))
# file.write(bytes(,encoding="ascii",errors="ignore"))

In [12]:
df7=df6.drop(df6.columns[[0, 2, 3,4,5]], axis=1) 

df7['date_priced'] = pd.to_datetime(df7['date_priced'])
df7['date_priced']= df7['date_priced'] + pd.DateOffset(days=180)
df7['signal']=1
df7.to_csv("ipodata5.csv")

In [13]:
df7

    symbol date_priced  signal
0     LTEA  2017-01-25       1
1     TLND  2017-01-25       1
2     TCMD  2017-01-24       1
3     KNSL  2017-01-24       1
4     KDMN  2017-01-23       1
5     TPIC  2017-01-18       1
6       PI  2017-01-17       1
7     PTHN  2017-01-17       1
8     BOLD  2017-01-16       1
9    CPAAU  2017-01-11       1
10    APFH  2017-01-11       1
11      LN  2017-01-10       1
12    MSDI  2017-01-04       1
13   MIIIU  2017-01-03       1
14   STLRU  2017-02-15       1
15    AIRG  2017-02-08       1
16    MEDP  2017-02-07       1
17    PTGX  2017-02-07       1
18    ATMR  2017-02-01       1
19    GEMP  2017-02-01       1
20    HOME  2017-01-31       1
21     FHB  2017-01-31       1
22    NTNX  2017-03-29       1
23    TRHC  2017-03-28       1
24     MRT  2017-03-28       1
25    FLGT  2017-03-28       1
26    TYHT  2017-03-27       1
27     VVV  2017-03-22       1
28    GSUM  2017-03-22       1
29    ACIU  2017-03-22       1
..     ...         ...     ...
298    ADT  2018-07-18       1
299   COLD  2018-07-18       1
300  OMADU  2018-07-17       1
301  EAGLU  2018-07-11       1
302   ILPT  2018-07-11       1
303   LBRT  2018-07-11       1
304  NEBUU  2018-07-09       1
305    CUE  2018-07-01       1
306  LTN'U  2018-08-27       1
307  DFBHU  2018-08-15       1
308   FAMI  2018-08-15       1
309   BFRA  2018-08-13       1
310   MOTS  2018-08-13       1
311  LHC'U  2018-08-12       1
312    QES  2018-08-08       1
313   CDLX  2018-08-08       1
314   EOLS  2018-08-07       1
315    HMI  2018-08-07       1
316  MUDSU  2018-08-07       1
317   VCTR  2018-08-07       1
318    WHD  2018-08-07       1
319   SSLJ  2018-08-04       1
320   FTSI  2018-08-01       1
321   CEPU  2018-08-01       1
322   CAAP  2018-07-31       1
323    OSS  2018-07-31       1
324    HUD  2018-07-31       1
325   IPIC  2018-07-31       1
326   SLGL  2018-07-31       1
327   VICI  2018-07-31       1

[328 rows x 3 columns]